body {
	background-color: #efefef;
	
	font-famaly: Tahoma;
}

h1 {
	font-size: 100px;
	
	color: purple;
}

marquee {
	color: white;
	
	font-size: 45px;
}

.card {
	
	width: 400px;
	margin: 30px auto;
}

.card-photo {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
}